//----Fonts----
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

//Variables
$color-blue: #0186da;
$color-gray-dark: #4a5568;
$color-gray-light: #b6b6b6;

//----General----
body {
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 24px;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
}

//----Header----
nav {
  padding-right: 25px;
  border-bottom: 1px solid $color-gray-light;

  a {
    color: $color-blue;
    font-size: 24px;
    margin-left: 25px;
  }

  .menu a:hover {
    color: $color-gray-dark;
  }

  a.logo {
    font-size: 48px;
    font-weight: 700;
  }

  a.logo:hover {
    color: $color-blue;
  }
}

//----Convert section----
.convert_link {

  input {
    width: 600px;
    height: 55px;
    padding: 10px 16px;
    border: 1px solid $color-gray-light;
    font-size: 24px;
  }

  input::placeholder {
    font-size: 24px;
    opacity: 0.7;
  }

  button {
    background-color: $color-blue;
    font-size: 24px;
  }

}